* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $scale;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.layout-wrapper {
  min-height: 100vh;
}

.layout-main-container {
  margin-top: 3.5rem; /* 为固定导航栏留出空间 */
  margin-left: 150px; /* 为侧边栏留出空间，适当减少空白 */
}